<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>摸鱼助手输入法</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>摸鱼助手输入法</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>ComponentInputModeDict</key>
    <dict>
        <key>tsInputModeListKey</key>
        <dict>
            <key>com.tantan1hao.moyuassistant.inputmethod.default</key>
            <dict>
                <key>TISIconLabels</key>
                <dict>
                    <key>Primary</key>
                    <string>摸</string>
                </dict>
                <key>TISInputSourceID</key>
                <string>com.tantan1hao.moyuassistant.inputmethod.default</string>
                <key>TISIntendedLanguage</key>
                <string>zh-Hans</string>
                <key>tsInputModeCharacterRepertoireKey</key>
                <array>
                    <string>Hans</string>
                </array>
                <key>tsInputModeIsVisibleKey</key>
                <integer>1</integer>
                <key>tsInputModePrimaryInScriptKey</key>
                <integer>1</integer>
                <key>tsInputModeScriptKey</key>
                <string>smSimpChinese</string>
            </dict>
        </dict>
        <key>tsVisibleInputModeOrderedArrayKey</key>
        <array>
            <string>com.tantan1hao.moyuassistant.inputmethod.default</string>
        </array>
    </dict>
    <key>IMKExtensionDelegateClass</key>
    <string>MoyuIMEExtensionDelegate</string>
    <key>InputMethodConnectionName</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>NovelInputController</string>
    <key>InputMethodServerDelegateClass</key>
    <string>NovelInputController</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NovelIMEAppGroupIdentifier</key>
    <string>$(TeamIdentifierPrefix)com.tantan1hao.moyuassistant.shared</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.textinputmethod-services</string>
    </dict>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>TISInputSourceID</key>
    <string>com.tantan1hao.moyuassistant.inputmethod</string>
    <key>TISIntendedLanguage</key>
    <string>zh-Hans</string>
    <key>tsInputMethodIconFileKey</key>
    <string>moyu_input.tiff</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
        <string>Hans</string>
    </array>
</dict>
</plist>
